<!doctype html>
<html>
	<head>
		<title>I NEED A RAISE | ELEVATION EXPERIENCES, PERFECTED</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="script.js" defer></script>
	</head>
	<body>
        <div id="app">
            <p>{{state}}</p>
            <div id="logo" :class="state">
                <div id="logo-left">
                    <p>I</p>
                    <p>NEED</p>
                </div>
                <div id="bar"></div>
                <div id="logo-right">
                    <p>A</p>
                    <p>RAISE</p>
                </div>
            </div>
            
            <transition name="fade" mode="out-in">
                <div v-if="state == 'start'">
                    <p key="jkljkjs">ELEVATION EXPERIENCES,<br>PERFECTED</p>
                    <button @click="setState('still')">START YOUR EXPERIENCE NOW</button>
                </div>

                <div v-else-if="state == 'still'">
                    <p key="asdkjfl">The elevator is still.</p>
                    <button @click="setState('up')">go up</button>
                </div>

                <div v-else-if="state == 'up' || state =='down'">
                    <transition name="slide" appear>
                        <p key="image" v-if="state == 'up' || state =='down'">
                            <img id="album" src="celtic-woman.jpg" alt="You Raise Me Up by Celtic Woman">
                        </p>
                    </transition>
                    <button @click="setState('still')">stop the elevator</button>
                </div>
            </transition>

            
        </div>
	</body>
</html>